<form name="form" novalidate ng-submit="submit()">
	<div class="form-group">
		<input class="form-control" type="text" required my-validation-tooltip placeholder="username" name="userId" ng-model="document.userId"/>	
	</div>
	<div class="form-group">
		<input class="form-control" type="text" required my-validation-tooltip placeholder="first name" name="firstName" ng-model="document.firstName"/>	
	</div>
	<div class="form-group">
		<input class="form-control" type="text" required my-validation-tooltip placeholder="last name" name="lastName" ng-model="document.lastName"/>	
	</div>
	<div class="form-group">
		<input class="form-control" type="email" required my-validation-tooltip placeholder="e-mail" name="email" ng-model="document.email"/>	
	</div>
	<div class="form-group">
		<input class="form-control" type="password" required my-validation-tooltip placeholder="password" name="password" ng-model="document.password"/>	
	</div>
	<div class="form-group">
		<input class="form-control" type="password" required my-validation-tooltip placeholder="repeat password" name="passwordRepeat" ng-model="document.passwordRepeat"/>	
	</div>

	<input class="btn btn-sm btn-success" type="submit"/>
</form>