body{
	overflow-y: scroll; 
	color: rgb(84,84,84);
}

.header {
	color: white;
	background: #2d2d2d;
	padding: 5px 0px;
}

.modal-header{
	color: white;
	background: #2d2d2d;	
}

.clickable{
	cursor: pointer;
}

.notification-body{
	position: fixed;
	padding: 20px 50px;
	z-index: 1000;
	right: 0;
}

.color-one{
	color: blue;
}

.color-two{
	color: red;
}

.color-three{
	color: green;
}

.color-four{
	color: gray;
}

.color-five{
	color: yello;
}