body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.color-one{
	color: blue;
}

.color-two{
	color: red;
}

.color-three{
	color: green;
}

.color-four{
	color: gray;
}

.color-five{
	color: yello;
}