
<h2>
	<span class="color-one">edu</span>cation <small><span class="glyphicon glyphicon-edit" ng-click="editing = !editing"></span></small>
</h2>

<div ng-show="!editing" class="row">
	<div class="col-xs-2"><span class="pull-right">{{document.duration.from}}-{{document.duration.to}}</span></div>
	<div class="col-xs-10">
		<strong class="text-uppercase">{{document.title}}</strong><small class="pull-right">{{document.location}}</small>		
		<p>
			<strong class="text-uppercase">{{document.thesis.name}}</strong><br/>
			{{document.thesis.explanation}}
		</p>		
	</div>
</div>

<div ng-show="editing">
	<ul class="list-group">
		<li class="list-group-item">			
			<button class="btn btn-xs btn-danger" ng-click="cancelChanges()"><span class="glyphicon glyphicon-remove"></span> Cancel changes</button>
			<button class="btn btn-xs btn-success" ng-click="saveChanges()"><span class="glyphicon glyphicon-ok"></span> Save changes</button>			
		</li>
		<li class="list-group-item">
			<form novalidate name="form" ng-submit="saveChanges()">
				<div class="row">
					<div class="col-md-2 form-group">
						<label class="label-control">from</label>
						<input class="form-control" type="number" name="duration.from" ng-model="document.duration.from" my-validation-tooltip/>
					</div>					
					<div class="col-md-2 form-group">
						<label class="label-control">to</label>
						<input class="form-control" type="number" name="duration.to" ng-model="document.duration.to" required my-validation-tooltip/>
					</div>
					<div class="col-md-5 form-group">
						<label class="label-control">education title</label>
						<input class="form-control" type="text" name="title" ng-model="document.title" my-validation-tooltip/>
					</div>
					<div class="col-md-3 form-group">
						<label class="label-control">education location</label>
						<input class="form-control" type="text" name="location" ng-model="document.location" my-validation-tooltip/>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 form-group">
						<label class="label-control">thesis title</label>
						<input class="form-control" type="text" name="thesis.name" ng-model="document.thesis.name" my-validation-tooltip/>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 form-group">
						<label class="label-control">summary</label>
						<textarea class="form-control" rows="5" name="explanation" ng-model="document.thesis.explanation" my-validation-tooltip/>
					</div>
				</div>
				<input type="submit" class="ng-hide"/>
			</form>
		</li>
	</ul>
</div>