<!-- <div anim-type="slide" ng-show="apiResponse == ''" class="my-animate">
	<form class="form-horizontal" ng-submit="submit()">
		<div class="form-group">
			<label class="col-sm-3 control-label">c. name</label>	
			<div class="col-sm-9">
				<input class="form-control" type="text" ng-model="name" placeholder="username"/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">email</label>
			<div class="col-sm-9">
				<input class="form-control" type="text" ng-model="email" placeholder="email address"/>
			</div>	
		</div>	
		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-9">
				<button class="btn btn-default" type="submit">Insert new</button>
			</div>
		</div>
	</form>
</div>
<div class="alert alert-success my-animate" anim-type="slide" ng-show="apiResponse">{{apiResponse}}</div> -->

<!-- <div ng-repeat="user in users" class="row">	
	<div class="col-sm-6">
		<a ng-click="deleteUser(user._id)"><span class="glyphicon glyphicon-trash"></span></a>{{user._id}}
	</div>
	<div class="col-sm-6">
		<a ng-click="hit(user._id)" >
			<span class="glyphicon glyphicon-plus"></span>
		</a>
		<span class="badge">{{user.hitCount}}</span><a href="mailto:{{user.email}}">@</a>{{user.name}}
	</div>	
</div> -->


<div class="col-md-2">
	<div class="text-right" ui-view="contact"></div>
	<div class="text-right" ui-view="language"></div>
	<div class="text-right" ui-view="programming"></div>
</div>
<div class="col-md-10">
	<div ui-view="education"></div>
	<div ui-view="experience"></div>
	<div ng-include="'/templates/footer.html'"></div>
</div>

