<h3>contact <small><a class="clickable" ng-show="canEdit" ng-click="viewEditing = !viewEditing"><span class="glyphicon glyphicon-edit"></span></a></small></h3>

<div>
	<p ng-show="document.email">{{document.email}}</p>
	<p>
	<span ng-show="document.location.address">{{document.location.address}}<br/></span>
	<span ng-show="document.location.city || document.location.zip">{{document.location.city}}, {{document.location.zip}}<br/></span>
	<span ng-show="document.location.state">{{document.location.state}}<br/></span>
	</p>
	<div ng-repeat="link in document.links">
		<a href="{{link.url}}" target="_blank">{{link.name}}</a>
	</div>
</div>

<div class="modal fade text-left" my-modal-show="viewEditing">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4>Edit contact data</h4>
			</div>
			<div class="modal-body">
				<input class="form-control" type="text" placeholder="first name" ng-model="document.firstName"/>
				<input class="form-control" type="text" placeholder="last name" ng-model="document.lastName"/>
				<input class="form-control" type="text" placeholder="position" ng-model="document.position"/>

				<input class="form-control" type="text" placeholder="email" ng-model="document.email"/>
				<input class="form-control" type="text" placeholder="address" ng-model="document.location.address"/>
				<input class="form-control" type="text" placeholder="city" ng-model="document.location.city"/>
				<input class="form-control" type="text" placeholder="zip" ng-model="document.location.zip"/>
				<input class="form-control" type="text" placeholder="state" ng-model="document.location.state"/>

				<div ng-repeat="link in document.links" class="row">
					<div class="col-xs-1">
						<a class="clickable" ng-click="delete($index)"><span class="glyphicon glyphicon-trash"></span></a>
					</div>
					<div class="col-xs-2">						
						<input class="form-control" type="text" placeholder="name" ng-model="link.name"/>
					</div>
					<div class="col-xs-9">			
						<input class="form-control" type="text" placeholder="url" ng-model="link.url"/>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-xs btn-primary" ng-click="add()"><span class="glyphicon glyphicon-plus"></span> Add url</button>
				<button class="btn btn-xs btn-success" ng-click="save()"><span class="glyphicon glyphicon-ok"></span> Save changes</button>
				<button class="btn btn-xs btn-danger" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span> Cancel changes</button>
			</div>
		</div>
	</div>	
</div>