
<br/>
<button class="btn btn-xs btn-primary" ng-show="canEdit" ng-click="addTheme()"><span class="glyphicon glyphicon-ok"></span> Add theme</button>
<div ng-repeat="theme in themes">	
	<h2>
		<small><a ng-show="canEdit" ng-click="removeTheme($index)"><span class="glyphicon glyphicon-trash"></span></a></small> 
		<span class="color-three">{{theme.title.substr(0, 3)}}</span>{{theme.title.substr(3)}} <small><a class="clickable" ng-click="viewEditing[$index] = !viewEditing[$index]" ng-show="canEdit && !viewEditing[$index]"><span class="glyphicon glyphicon-edit"></span></a></small>
	</h2>
	<p ng-show="!viewEditing[$index]">
	{{theme.text}}
	</p>


	<div ng-show="viewEditing[$index]">
		<button class="btn btn-xs btn-success" ng-click="save($index)"><span class="glyphicon glyphicon-ok"></span> Save changes</button>
		<button class="btn btn-xs btn-danger" ng-click="cancel($index)"><span class="glyphicon glyphicon-remove"></span> Cancel changes</button>
		
		<input class="form-control" ng-model="theme.title"/>
		<textarea class="form-control" rows="5" ng-model="theme.text"></textarea>
	</div>
</div>